
<div class="nav">

    <div class="copyright">
        <img src="../../../../assets/Images/navLogo.png"  class="nav-logo">
        <span class="about-us">
                <a class="nav-link" href="https://portal.psut.edu.jo/NewApplic">
                    <i class="fa-solid fa-person-circle-plus icon-color"></i>  
                   <span data-i18n="Templates">New Application</span>
                </a>
        </span>
        <span class="contact"> 
                <a class="nav-link" href="https://portal.psut.edu.jo/SemesterCourses">
                    <i class="fa-solid fa-file-lines icon-color"></i>
                    <span data-i18n="Pages">Semester Courses</span>
                </a>
        </span>
        <span class="about-us"> 
            <a class="nav-link" href="https://portal.psut.edu.jo/GraduationStudents">
                <i class="fa-solid fa-building-columns"></i>
                <span data-i18n="Pages">Graduation Students</span>
            </a>
        </span>
    </div>
  </div>
